@import url("https://use.typekit.net/kuz5htf.css");

/* website*/


body{
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 100vh;
    width: 150vw;
    grid-column-gap: 4em;
    background-color: #051427;
}

.stanzas {
    position: relative;
    width: 98vw;
}

.top{
    margin-top: 1.2em;
}

h1{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #FFA927;
    font-weight: lighter;
    font-style: italic;
    font-size: 5em;
    font-kerning: auto;
    text-align: right;
    letter-spacing: .1em;
    line-height: 1.5em;
    word-spacing: .01em;

}

h2{
    line-height: .6em;
    font-size: 4.5em;
    text-align: right;
    color: #F0C3ED;
    font-family: mrs-eaves, serif;
    font-weight: 400;
    font-style: normal;  
}

.dot{
    position: absolute;
    right: .5vw;
    top: 60vh;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: white;
    float: left;
    z-index: 1;
}

.dot_two{
    top: 62vh;
    right: .4vw;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #051427;
    float: left;
    position: absolute;
    z-index: 2;
}


.right{
    position: relative;
}

.box_pink {
    position: absolute;
    background-color: #F0C3ED;
    height: 85vh;
    width: 27vw;
    top: 9vh;
}

.box_orange {
    position: absolute;
    background-color: #FFA927;
    height: 85vh;
    width: 27vw;
    top: 4vh;
    left: 3vw;
}

.paragraphs {
    position: absolute;
    background-color: #051427;
    height: 80vh;
    width: 24vw;
    top: 9vh;
    left: 3vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

p{
    margin-left: 1em;
    line-height: .6em;
    font-size: 1em;
    text-align: left;
    color: white;
    font-family: mrs-eaves, serif;
    font-weight: 400;
    font-style: normal;  
}

.published{
    position: absolute;
    width: 9vw;
    left: 28vw;
    top: 90vh;
}


/* smart phone*/
@media only screen and (max-width: 800px) {

    body {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 200vw;
        background-color: white;
        padding: 0;
        margin: 0;
        column-gap: 0em;
    }  

    .stanzas { 
    position: relative;
    background-color: #5D0D30;
    width: 100vw;
    }
    .top{
        margin-top: 1.2em;
    }
    
    h1{ 
        position: absolute;
        font-family: mrs-eaves, serif;
        color: #FFA927;
        font-weight: lighter;
        font-style: normal;
        font-size: 1.4em;
        font-kerning: auto;
        text-align: left;
        letter-spacing: .1em;
        line-height: 1em;
        word-spacing: .01em;
        top: 30vh;
        left:5vw;
    
    }
    
    h2{
        position: absolute;
        line-height: .6em;
        font-size: 1em;
        text-align: right;
        color: #E2BC90;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 400;
        font-style: normal;  
        top: 38.5vh;
        left: 20vw;
    }
    

    .box_pink{
        position: absolute;
        height: .5vh;
        width: 80vw;
        left: -58.4vw;
        top: 44vh;
        background-color: white;
        z-index: 30;
    }
    
    .right{
        position: relative;
        background-color:#718EBB;
    }
    

    .paragraphs {
        position: absolute;
        background-color: #718EBB;
        height: 50vh;
        width: 80vw;
        top: 44vh;
        left: 3vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }


    p{
        margin-left: 1em;
        line-height: .6em;
        font-size: .8em;
        text-align: left;
        color: #E2BC90;
        font-family: mrs-eaves, serif;
        font-weight: 400;
        font-style: normal;  
    }

    
    .published{
        position: absolute;
        width: 40vw;
        left: 60vw;
        top: 90.5vh;
    }
    
        
    .box_orange{
        display: none;
    }
    
    .dot{
        display: none;
    }
    
    .dot_two{
        display: none;
    }
    
    

}

/* tablet*/
@media only screen and (min-width:800px) and (max-width: 1280px){
    body{
        position: relative;
        background-color: #DFE7FF;
        display: inline;
        width: 100vw;
    }

    h1{ 
        position: absolute;
        font-family: mrs-eaves, serif;
        color: #790C0C;
        font-weight: lighter;
        font-style: italic;
        font-size: 4em;
        font-kerning: auto;
        text-align: right;
        letter-spacing: .02em;
        line-height: 1em;
        word-spacing: .01em;
        top: 70vh;
        left:5vw;
        z-index: 30;
    }

    h2{
        letter-spacing: .1em;
        position: absolute;
        line-height: .6em;
        font-size: 2.5em;
        text-align: right;
        color: #CC7B91;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 400;
        font-style: normal;  
        top: 83vh;
        right: 1vw;
    }

    .published{
        position: absolute;
        width: 40vw;
        left: 76vw;
        top: 87.5vh;
    }
    
    .published_looks{
        color: #F19393;
        font-size: 1.5em;
        font-family: "Helvetica Neue", Helvetica, sans-serif;

    }

.one{
    position: absolute;
    width: 100vw;
    height: 16vh;
    background-color: #CC7B91;
    right:-46.6em;
    top: -9vh;
}

.one_type{
        margin-left: 1em;
        line-height: .4em;
        font-size: 2em;
        text-align: left;
        color: #67172C;
        font-family: mrs-eaves, serif;
        font-weight: 400;
        font-style: normal;  
}

.two{
    position: absolute;
    width: 100vw;
    height: 16vh;
    background-color: #EE8295;
    right:-46.6em;
    top: 9vh;
}

.two_type{
    margin-left: 1em;
    line-height: .4em;
    font-size: 2em;
    text-align: center;
    color: #A62940;
    font-family: mrs-eaves, serif;
    font-weight: 400;
    font-style: normal;  
}

.three{
    position: absolute;
    width: 100vw;
    height: 16vh;
    background-color: #F19393;
    right:-46.6em;
    top: 27vh;
}

.three_type{
    margin-right: 1em;
    line-height: .4em;
    font-size: 2em;
    text-align: right;
    color: #771B1B;
    font-family: mrs-eaves, serif;
    font-weight: 400;
    font-style: normal;  
}

.four{
    position: absolute;
    width: 100vw;
    height: 16vh;
    background-color: #CC7B91;
    right:-46.6em;
    top: 45vh;
}

.four_type{
    margin-left: 1em;
    line-height: .4em;
    font-size: 2em;
    text-align: left;
    color: #67172C;
    font-family: mrs-eaves, serif;
    font-weight: 400;
    font-style: normal;  
}

.paragraphs {
 
    background-color: #DFE7FF;
 
}

    .dot{
        display: none;
    }
    
    .dot_two{
        display: none;
    }
    
    .box_orange{
        display: none;
    }
    
    .box_pink{
        display: none;
    }
}